.guardar-btn{
    width: 30%;
    font-size: 20px;
    color: #e74944;
}

.card{
    display: inline-table !important;
    margin-right: 40% !important;  
    width: 100% !important; 
    float: left !important; 
    border: none !important;
    margin-bottom: 10px !important;
}

.card-body{
    background-color: lightcyan;
}